<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Rent.me</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="resources/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="resources/bootstrap.min.css" />
    <script src="resources/jquery.min.js"></script>
    <script src="resources/bootstrap.min.js"></script>
</head>
<body>
<ul>
    <li><a href="index">Home</a></li>
</ul>

<div class="container">
    <div class="col-sm-4 mx-auto text-center"></div>
    <div class="col-sm-4 mx-auto text-center">
        <h1>Rent.me</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="form-signin">
        <div class="form-group col-sm-4 mx-auto text-center"></div>
            <div class="form-group col-sm-4">
                <h3 class="form-signin-heading">Logi sisse</h3>
                <label for="inputEmail" class="sr-only" >Email</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

                <label for="inputPassword" class="sr-only">Parool</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Jäta mind meelde
                    </label>
                </div>
                <button class="btn btn-md btn-primary btn-block mx-auto text-center" type="submit">Logi sisse</button>

                <button class="btn btn-md btn-primary btn-block mx-auto text-center" type="submit">Registreeri</button>
            </div>
</div>


<div class="container-fluid">
    <footer class="page-footer font-small blue">

        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            Rent Me OÜ
        </div>

    </footer>
</div>
</body>
</html>