<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rent.me</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/style.css" />
    <link rel="stylesheet" href="resources/bootstrap.min.css" />
    <script src="resources/jquery.min.js"></script>
    <script src="resources/bootstrap.min.js"></script>
</head>
<body>
    <ul>
        <li><a href="/login">Kodu</a></li>
    </ul>

    <div class="container">
        <div class="col-sm-4 mx-auto text-center"></div>
        <div class="col-sm-4 mx-auto text-center">
            <h1>Rent.me</h1>
        </div>
    </div>

    <div class="container-fluid">

        <form autocomplete="off" action="#" th:action="@{/login}" method="POST" class="form-signin">
            <div class="form-group col-sm-4 mx-auto text-center"></div>
                <div class="form-group col-sm-4">
                    <h3 class="form-signin-heading">Logi sisse</h3>
                    <input type="text" id="email" name="email"  th:placeholder="Email"
                           class="form-control" /> <br/>
                    <input type="password"  th:placeholder="Parool"
                           id="password" name="password" class="form-control" /> <br />

                    <div class="error" align="center" th:if="${#httpServletRequest.getParameter('error') != null}"
                         th:with="errorMsg=#{login.badCredentials}">
                </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Jäta mind meelde
                        </label>
                    </div>
                    <button class="btn btn-md btn-primary btn-block mx-auto text-center" name="Submit" value="Login" type="Submit">Logi sisse</button>
                    <a class="btn btn-md btn-primary btn-block mx-auto text-center" href="registreeri" role="button">Registreeri</a>
                    <a class="btn btn-md btn-primary btn-block mx-auto text-center" href="/login/facebook" role="button">Facebook Login</a>

                </div>
        </form>
    </div>


    <footer class="page-footer font-small blue">

        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            Rent Me OÜ
        </div>

    </footer>
</body>
</html>