<!DOCTYPE html>
<html lang="et" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head onload="fallback();">
    <title>Rent.me | Profiil</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="resources/funktsioonid.js"></script>
</head>

<body>
    <ul>
        <li><a href="#">Kodu</a></li>
        <li><a href="rentimine">Rentimine</a></li>
        <div th:with="isAdmin = ${user.isAdmin()}"> <!--näitame ainult administraatorile-->
            <div th:if="${isAdmin}">
                <li><a href="statistika">Statistika</a></li>
            </div>
        </div>
        <li id="logout"><a class="active" href="/logout">Logout</a></li>
    </ul>

    <div class="container">
        <div class="col-sm-4 mx-auto text-center"></div>
        <div class="col-sm-4 mx-auto text-center">
            <h1>Kasutaja Profiil</h1>
        </div>
    </div>

    <hr>
    <div class="container" id="cont1">
        <div class="row">
            <div class="col-sm-10">
                <h1><label th:text="${user.username}"></label></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">


                <div class="text-center" th:object="${user}">
                    <img th:src="@{resources/avatars/{image}(image=${user.avatarName})}" class="avatar img-circle img-thumbnail" alt="profiilipilt"/>
                    <h6>Muuda profiilipilti</h6>
                    <form class="form" action="profiil/upload" method="post" enctype="multipart/form-data">
                        <input type="file" name="file" class="text-center center-block file-upload">

                        <input type="submit" class="text-left" value="Salvesta" th:onsubmit="'submitRefresh();'" />

                    </form>
                </div><br>


                <div class="panel panel-default">
                    <div class="panel-heading">Kasutaja Statistika</div>
                    <div class="panel-body">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Pakkumisi: 0</td>
                                    <!--<td th:text=""></td> Pakkumiste arv-->
                                </tr>
                                <tr>
                                    <td>Soove: 0</td>
                                    <!--<td th:text=""></td> Soovide arv-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>

            <div class="col-sm-9">


                <form class="form" id="frmProfiil" method="post" th:object="${user}" th:onsubmit="'submitRefresh();'">
                    <div class="form-group">

                        <div class="col-xs-6">
                            <h4><label for="eesnimi">Eesnimi</label></h4>
                            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
                            <input type="text" th:field="*{name}" class="form-control" id="eesnimi" th:placeholder="*{name}" required autofocus/>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-xs-6">
                            <h4><label for="perenimi">Perenimi</label></h4>
                            <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message"></label>
                            <input type="text" th:field="*{lastName}" class="form-control" name="lastName" id="perenimi" th:placeholder="*{lastName}"  title="enter your last name if any." required>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-xs-6">
                            <h4><label for="telefon">Telefon</label></h4>
                            <label th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}" class="validation-message"></label>
                            <input type="text" th:field="*{telephone}" class="form-control" name="phone" id="telefon" th:placeholder="*{telephone}" title="sisesta oma telefoni number" required>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-xs-6">
                            <h4><label for="email">Email</label></h4>
                            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
                            <input type="email" th:field="*{email}" class="form-control" name="email" id="email" th:placeholder="*{email}" title="lisa e-mail" disabled>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-xs-6">
                            <h4><label for="email">Asukoht</label></h4>
                            <label th:if="${#fields.hasErrors('location')}" th:errors="*{location}" class="validation-message"></label>
                            <input type="text" th:field="*{location}" class="form-control" id="location" th:placeholder="*{location}" title="lisa asukoht" required>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-xs-6">
                            <h4><label for="parool">Parool</label></h4>
                            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
                            <input type="password" th:field="*{password}" class="form-control" name="password" id="parool" placeholder="parool" title="sisesta parool" required>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-xs-6">
                            <h4><label for="username">Kasutajanimi</label></h4>
                            <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="validation-message"></label>
                            <input type="text" th:field="*{username}" class="form-control" id="username" th:placeholder="*{username}" title="lisa kasutajanimi" required>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-xs-6">
                            <h4><label for="kinnitus">Parool (kinnitus)</label></h4>
                            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
                            <input type="password" th:field="*{confirmPassword}" class="form-control" name="password2" id="kinnitus" placeholder="parooli kinnitus" title="kinnita parool" required>
                        </div>
                    </div>

                    <span th:utext="${successMessage}"></span>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <br>
                            <button class="btn btn-md btn-primary btn-block" type="submit"> Salvesta</button>
                            <button class="btn btn-md btn-primary btn-block" type="reset"> Tühista</button>
                        </div>
                    </div>
                </form>


             </div><!--/col-sm9-->

        </div><!--/row-->

    </div><!--/container-->

    <div class="container-fluid">
        <footer class="page-footer font-small blue">

            <div class="footer-copyright text-center py-2">© 2018 Copyright:
                Rent Me OÜ
            </div>

        </footer>
    </div>

</body>
</html>
