<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <head>
        <title>Rent.me | Registreeri</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="resources/style.css" />
        <link rel="stylesheet" href="resources/bootstrap.min.css" />
        <script src="resources/jquery.min.js"></script>
        <script src="resources/bootstrap.min.js"></script>
    </head>
</head>
<body>
    <ul>
    <li><a href="index">Kodu</a></li>
    <li><a href="rendile">Anna Rendile</a></li>
    <li><a href="rendi">Rendi</a></li>
    </ul>

    <div class="container-fluid">
        <div class="form-signin">
            <div class="form-group col-sm-4 mx-auto text-center"></div>
            <div class="form-group col-sm-4">
                <h3 class="form-signin-heading">Registreeri</h3>

                <label for="inputUsername" class="sr-only" >Email</label>
                <input type="username" id="inputUsername" class="form-control" placeholder="Kasutajanimi" required autofocus>

                <label for="inputEmail" class="sr-only" >Email</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

                <label for="inputPassword" class="sr-only">Parool</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Parool" required>
                <label for="inputPasswordConfirm" class="sr-only">Kinnita parool</label>
                <input type="password" id="inputPasswordConfirm" class="form-control" placeholder="Parool (kinnita)" required>
                <button class="btn btn-md btn-primary btn-block mx-auto text-center" type="submit">Registreeri</button>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <footer class="page-footer font-small blue">

            <div class="footer-copyright text-center py-3">© 2018 Copyright:
                Rent Me OÜ
            </div>

        </footer>
    </div>
</body>
</html>