<!DOCTYPE html>
<html lang="et" xmlns="http://www.w3.org/1999/xhtml">
<head onload="fallback();">
    <title>Rent.me | Võta või paku rendile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="resources/funktsioonid.js"></script>
</head>
<body>
    <ul>
        <li><a href="/profiil">Kodu</a></li>
        <li><a href="rentimine">Rentimine</a></li>
        <li id="logout"><a class="active" href="#logout">Logout</a></li>
    </ul>

    <div class="container">
        <div class="col-sm-4 mx-auto text-center"></div>
        <div class="col-sm-4 mx-auto text-center">
            <h1>Rendi</h1>
        </div>
    </div>

    <div class="container-fluid">
        <footer class="page-footer font-small blue">

            <div class="footer-copyright text-center py-2">© 2018 Copyright:
                Rent Me OÜ
            </div>

        </footer>
    </div>
</body>
</html>
