<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rent.me | Võta Rendile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/style.css" />
    <link rel="stylesheet" href="resources/bootstrap.min.css" />
    <script src="resources/jquery.min.js"></script>
    <script src="resources/bootstrap.min.js"></script>
</head>
<body>
    <ul>
        <li><a href="index">Kodu</a></li>
        <li><a href="rentimine">Rentimine</a></li>
        <li id="logout"><a class="active" href="#logout">Logout</a></li>
    </ul>

    <div class="container">
        <div class="col-sm-4 mx-auto text-center"></div>
        <div class="col-sm-4 mx-auto text-center">
            <h1>Rendi</h1>
        </div>
    </div>

    <div class="container-fluid">
        <footer class="page-footer font-small blue">

            <div class="footer-copyright text-center py-3">© 2018 Copyright:
                Rent Me OÜ
            </div>

        </footer>
    </div>
</body>
</html>
