<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Rent.me | Võta Rendile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/style.css" />
    <link rel="stylesheet" href="resources/bootstrap.min.css" />
    <script src="resources/jquery.min.js"></script>
    <script src="resources/bootstrap.min.js"></script>
</head>
<body>
<ul>
    <li><a href="index">Kodu</a></li>
    <li><a href="index">Anna Rendile</a></li>
    <li><a href="index">Rendi</a></li>
    <li style="float:right"><a class="active" href="#logout">Logout</a></li>
</ul>
</body>
</html>
