<!DOCTYPE html>
<html lang="et" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head onload="fallback();"> <!--CDN failide blokeerimisel käivitame javascripti, mis kasutab lokaalseid faile-->
    <title th:text="#{stats.title}">Rent.me | Statistika</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/statistika.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="resources/funktsioonid.js"></script>
    <script src="resources/languagePicker.js"></script>
</head>
<body th:object="${user}">
    <ul id="menu">
        <li><a href="profiil" th:text="#{menu.home}">Kodu</a></li>
        <li><a href="rentimine" th:text="#{menu.rent}">Rentimine</a></li>
        <div th:with="isAdmin = ${user.isAdmin()}"> <!--näitame ainult administraatorile-->
            <div th:if="${isAdmin}">
                <li><a href="statistika" th:text="#{menu.stats}">Statistika</a></li>
            </div>
        </div>

        <li id="lang">
            <select id="locales" class="selectpicker" data-style="btn-primary">
                <option th:text="#{lang.pick}"></option>
                <option value="ee" th:text="#{lang.ee}">Estonian</option>
                <option value="en" th:text="#{lang.en}">English</option>
            </select>
        </li>
        <li id="logout"><a class="active" href="/logout" th:text="#{menu.logout}">Logout</a></li>
    </ul>

    <div class="container"> <!---Kõige pealt peame asjad konteinerisse panema----->

        <div class="page-header"> <!--- siis lehele pealkirja tekitama-->
            <h1 class="text-center" th:text="#{stats.head}">Statistika</h1>
        </div>

        <div class="row"> <!----Siit algab konteineri rida---->
            <div class="col-lg-12"> <!-----Siit algab konteineri veerg---->
                <div class="panel with-nav-tabs panel-primary"> <!----tekitame tabide paneeli--->
                    <div class="panel-heading"> <!----paneeli päis, kus on paneelide valik--->
                        <ul class="nav nav-tabs"> <!----tabide valiku list--->
                            <li class="active"><a href="#users" id="users-tab" data-toggle="tab" th:text="#{stats.users}">Kasutajad</a></li>
                            <li><a href="#log" id="log-tab" data-toggle="tab" th:text="#{stats.log}">Logi</a></li>
                            <li><a href="#top-browser" id="topBrowser-tab" data-toggle="tab" th:text="#{stats.topBrowser}">Statistika</a></li>
                            <li><a href="#top-os" id="topOs-tab" data-toggle="tab" th:text="#{stats.topOs}">Statistika</a></li>
                            <li><a href="#top-landing" id="topLanding-tab" data-toggle="tab" th:text="#{stats.topLanding}">Statistika</a></li>
                        </ul>
                    </div>
                    <div class="panel-body"> <!----paneeli keha--->
                        <div class="tab-content"> <!----tabide sisu--->
                            <div class="tab-pane fade in active" id="users"> <!--esimene kasutajte tab-->
                                <table class="table"> <!--tabeli tekitamine-->
                                    <thead> <!----tabeli päis---->
                                    <tr id="Pealkirjad">
                                        <th>#</th>
                                        <th th:text="#{profile.firstName}">Eesnimi</th>
                                        <th th:text="#{profile.lastName}">Perenimi</th>
                                        <th th:text="#{profile.userName}">Kasutajanimi</th>
                                        <th th:text="#{profile.email}">Email</th>
                                        <th th:text="#{stats.active}">Aktiivne</th>
                                    </tr>
                                    </thead>
                                    <tbody> <!----tabeli keha---->
                                    <tr th:each="user : ${users}"> <!--kuvame kõik kasutajad kasutajate list objektist-->
                                        <td th:text="${user.id}">1</td>
                                        <td th:text="${user.name}">Nimi</td>
                                        <td th:text="${user.lastName}">Perenimi</td>
                                        <td th:text="${user.username}">Kasutajanimi</td>
                                        <td th:text="${user.email}">email@email.ee</td>
                                        <td th:if="${user.active} == 1" th:text="#{stats.activated}">Aktiveeritud</td>
                                        <td th:if="${user.active} == 0" th:text="#{stats.deactivated}">Deaktiveeritud</td>
                                        <td th:if="${user.active} == 1">
                                            <form class="form" th:action="@{statistika/toggleActive/}" method="post">
                                                <input type="hidden" name="active" th:value=0 />
                                                <input type="hidden" name="userId" th:value="${user.id}" />
                                                <button class="hidden-md hidden-sm hidden-xs btn btn-sm btn-primary btn-block" name="Submit" value="Deactivate" type="Submit" th:text="#{stats.deactivate}">Deaktiveeri</button>
                                            </form>
                                        </td>
                                        <td th:if="${user.active} == 0">
                                            <form class="form" th:action="@{statistika/toggleActive/}" method="post">
                                                <input type="hidden" name="active" th:value=1 />
                                                <input type="hidden" name="userId" th:value="${user.id}" />
                                                <button class="hidden-md hidden-sm hidden-xs btn btn-sm btn-primary btn-block" name="Submit" value="Activate" type="Submit" th:text="#{stats.activate}">Aktiveeri</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr> <!---eraldi real kasutajate koguarv--->
                                        <td th:text="#{stats.total(${summa.getSumma()})}">Kokku: </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="log"> <!----teine logi tab---->
                                <table class="table">
                                    <thead>
                                    <tr id="Attribuudid">
                                        <th th:text="#{log.time}">Kuupäev ja kellaaeg</th>
                                        <th th:text="#{profile.userName}">Kasutajanimi</th>
                                        <th th:text="#{log.landing}">Saabumisleht</th>
                                        <th th:text="#{log.browser}">Lehitseja</th>
                                        <th th:text="#{log.os}">Operatsioonisüsteem</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="log : ${logs}">
                                        <td th:text="${log.datetime}">13.10.2018 15:15</td>
                                        <td th:text="${log.username}">Kasutajanimi</td>
                                        <td th:text="${log.landingPage}">Profiil</td>
                                        <td th:text="${log.browser}">Chrome</td>
                                        <td th:text="${log.os}">Windows</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="top-browser"> <!----kolmas statistika tab---->
                                <table class="table">
                                    <thead>
                                    <tr id="Attribuudid2">
                                        <th th:text="#{log.browser}">>Brauser</th>
                                        <th th:text="#{stats.count}">>Arv</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="browser : ${browsers}">
                                        <td th:text="${browser.name}">Chrome</td>
                                        <td th:text="${browser.count}">10</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="top-os"> <!----neljas statistika tab---->
                                <table class="table">
                                    <thead>
                                    <tr id="Attribuudid3">
                                        <th th:text="#{log.os}">Operatsioonisüsteem</th>
                                        <th th:text="#{stats.count}">Arv</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="os : ${opsys}">
                                        <td th:text="${os.name}">Windows</td>
                                        <td th:text="${os.count}">10</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="top-landing"> <!----viies statistika tab---->
                                <table class="table">
                                    <thead>
                                    <tr id="Attribuudid4">
                                        <th th:text="#{log.landing}">Leht</th>
                                        <th th:text="#{stats.count}">Arv</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="landing : ${pages}">
                                        <td th:text="${landing.name}">/profiil</td>
                                        <td th:text="${landing.count}">10</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>

<!--    <footer class="page-footer font-small blue">

        <div class="well hidden-sm hidden-xs footer-copyright text-center py-3">© 2018 Copyright:
            Rent Me OÜ
        </div>

    </footer>-->
</body>
</html>
